body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a{    cursor: pointer;
}

.topMargin{
margin-top: 54px
}

.mb-l10-m5 {
  margin-bottom: 10px;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}

.mt-40 {
  margin-top: 40px !important;
}
.red-bg, .type-active, .type-inactive, .booking-w-lg .booking-w-lg__row button:focus {
  background-color: #f1563f;
  color: #fff;
}